<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/images/logo_ml.svg" alt="Logo Mercado Liebre">
        <p>Lugar para poner barra de búsqueda</p>

        <section>
            <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
            <ul>
                <li><a href="" target="blank">Ofertas</a></li>
                <li><a href="" target="blank">Tiendas Oficiales</a></li>
                <li><a href="" target="blank">Vender</a></li>
                <li><a href="" target="blank">Ayuda</a></li>
            </ul>
            <ul>
               <li><a href="" target="blank">Creá tu cuenta</a></li>
               <li> <a href="" target="blank">Ingresá</a></li>
               <li><a href="" target="blank">Mis compras</a></li>
            </ul>
        </section>
    </header>

    <main>
        <section>
            <h3>Basado en tu última vista</h3>
            <span>
                <img src="/images/cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </span>
            <span>
                <img src="/images/macbook-pro-2019.jpg" alt="Macbook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>Macbook Pro 2019</strong></p>
            </span>
            <span>
                <img src="/images/samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </span>
            <span>
                <img src="/images/tv-samsung-smart.jpg" alt="Smart Tv Samsung">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>Smart Tv Samsung 43</strong></p>
            </span>
        </section>

        <section>
            <h3>Ofertas</h3>
            <span>
                <img src="/images/cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </span>
            <span>
                <img src="/images/macbook-pro-2019.jpg" alt="Macbook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>Macbook Pro 2019</strong></p>
            </span>
            <span>
                <img src="/images/samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </span>
            <span>
                <img src="/images/tv-samsung-smart.jpg" alt="Smart Tv Samsung">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>Smart Tv Samsung 43</strong></p>
            </span>
        </section>
    </main>

    <footer>
        <section>
            <h5><strong>Pagá con tarjeta o en efectivo</strong></h5>
            <p>
            </p>
        </section>
        <section>
            <h5><strong>Envío gratis desde $2.500</strong></h5>
            <p>
               Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. 
            </p>
        </section>
        <section>
            <h5><strong>Seguridad, de principio a fin</strong></h5>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. 
            </p>
        </section>
        <section>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
    </footer>
</body>
</html>