*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

main{
    text-align: center;
    width: 100%;
    background-color: #ebebeb;
}

main h2{
    font-size: 24px;
    color: #666;
    padding: 5px 5px 5px 20px;
    text-align: left;
}

main article{
    margin: 0 10% 1.5rem 10%;
    display: block;
    border-top: solid 1px #666;
    border: 15px;
    text-align: left;
    background-color: white;
    width: 80%;
    
}

.articleInfo{
    border-top: solid 1px #ebebeb;
    padding: 5px;
    position: relative;
}

.topArticleInfo{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: relative;
}

main section article i{
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: -14px;
    transition: transform 400ms;
}

main section article i:hover{
    transform: rotate(-90deg);
}

.prices{
    font-size: 18px;
    max-width: 60%;
}

.discounts, .descriptions{
    font-size: 16px;
}

.discounts{
    margin: 0;
    color: #39b54a;
    max-width: 40%;
}

.descriptions{
    color: #666;
    display: none;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 150ms;
}

.descriptions:hover{
    opacity: 100%;
}

.prices, .descriptions{
    display: flex;
    flex-direction: horizontal;
}

footer {
    text-align: center;
}

.footerCreditCard, .footerGift, .footerSafety{
    font-size: 2em;
    color: #1259c3;
    transition: color 150ms;
}

.footerCreditCard:hover, .footerGift:hover, .footerSafety:hover{
    color: #0022AA;
}

.footerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerInfo section{
    max-width: 30%;
    height: 90px;
}

.copyright{
    text-align: left;
    margin-top: 120px;
}


@media screen and (min-width: 361px){
    .descripciones{
        display: flex;
    }

    main section article{
        box-shadow: 0;
        max-width: 40%;
        margin: 1rem 1.5rem;
        padding: 10px;
        justify-content: center;
        transition: box-shadow 200ms;

    }

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    
    .lastVisits{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .offers{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 769px){
    main section article{
        max-width: 20%;
    }
}