<footer>
    <section class="footerInfo">
    <section>
        <i class="fas fa-credit-card footerCreditCard"></i>
        <h2><strong>Pagá con tarjeta o en efectivo</strong></h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <i class="fas fa-gift footerGift"></i>
        <h2><strong>Envío gratis desde $2500</strong></h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
        <i class="fas fa-user-shield footerSafety"></i>
        <h2><strong>Seguridad, de principio a fin</strong></h2>
        <p>¿No te gusta?¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
    </section>
    </section>
    <section class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </section>
</footer>