<header>
    <section class="headerTopBar">
        <img src="/images/logo_ml.svg" alt="Logo Mercado Liebre" class="logo">
        <form action="" method="get" class="searchBar">
            <fieldset>
                <input type="search" class="bar" placeholder="Buscar productos, marcas y más">
                <button type="submit" class="searchButton"> <i class="fas fa-search"></i></button>
            </fieldset>
        </form>

        <h2 class="copyHeader"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
    </section>
    <section class="headerNavbar">
        <nav class="leftNavbar">
        <select name="categories" id="categories" onchange="window.location.href=this.options[this.options.selectedIndex].value"> 
            <option value="">Categorías</option>
            <option value="/categories/1">Electrónica</option>
            <option value="/categories/2">Moda</option>
            <option  value="/categories/3">Hogar</option>
            <option value="/categories/4">Juguetería</option>
            <option value="/categories/5">Vida sana</option>
        </select>
            <a href="#">Ofertas</a>
            <a href="#">Tiendas Oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
        </nav>
        <nav class="rightNavbar">
            <a href="/users/register">Creá tu cuenta <i class="far fa-id-card"></i></a> 
            <a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a> 
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
        </nav>
    </section>
    <div class="burgerMenu">
        <i class="fas fa-bars"></i>
    </div>
</header>