<%- include("./includes/head")  %> 

<body>
    <%- include("./includes/header")  %> 

    <main>
        <form action="/users/access" method="POST">
            <h2>Inicio de Sesión</h2>
            <section class="form">
                <label for="">Nombre de usuario:</label>
                <input type="text" name="userId" id="" required>
                <span class="feedback"></span>
                <label for="">Contraseña:</label>
                <input type="password" name="password" placeholder="*************" required>
                <span class="feedback"></span>
                <button type="submit"><a href="/">Enviar</a></button>   
            </section>
        </form>  
    </main>

    <%- include("./includes/footer")  %>    
</body>
</html>