<%- include("./includes/head")  %> 

<body>
    <%- include("./includes/header")  %> 

    <main>
        <form action="/users/logout" method="POST">
            <button type="submit">Logout</button>   
        </form>  
    </main>

    <%- include("./includes/footer")  %>    
</body>
</html>