*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

main{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(204, 204, 204, 0.349);
    transition: all 200ms;
}

main:hover{
    background-color: #7471713b;
}


article{
    padding: 2rem;
    padding-bottom: 1rem;
    width: 90%;
    height: 80%;
    background-color: white;box-shadow: 0;
    transition: box-shadow 200ms;

}

article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
h1{
    margin: 1.5rem 0;
    text-align: center;
}

p{
    margin: 1rem 0;
}

form{
    margin-top: 1rem ;
}

main form button{
    border: none;
    background-color: #1259c3;
    border-radius:0.25rem;
    width: 60%;
    padding: 0.5rem;
    margin-top: 10px;
    color: white;
   transition: background-color 200ms;
}

main form button:hover{
    background-color: #0022AA;
}

@media screen and (min-width: 361px){
    main img {
        width: 40%;
        margin-right: 4rem;
        width: 20rem;
    }
    article{
        display: flex;
        padding:0.5rem;
        width: 85%;
    }
    main form button{
        width: 8rem;
    }
}

@media screen and (min-width: 769px){
   article{
       width:60%;
       height: 28rem;
   }
}

