*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

header{
    background-color: #eac926;
    padding: 10px;
    margin-bottom: 0;
    border-bottom: 0;
    max-width: 100%;
}


.headerTopBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo{
    max-width: 50%;
}
.searchBar fieldset{
    border: none;
}
.searchBar input{
    border-radius: 3px;
    padding: 5px;
    border: none;
    outline: none;
    max-width: 95%;
}

.searchBar button{
    border-radius: 3px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
    position: relative;
    left: -5.5px;
}


.copyHeader{
    font-size: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

header nav a{
    display: none;
    text-decoration: none;
    color: black;
    font-size: 12px;
    transition: all 200ms;
}

.leftNavbar #categories{
    display: none;
}

header nav a:hover, .leftNavbar #categories:hover{
    color: #1259c3;
}

.burgerMenu{
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    padding: 5px;
    max-width: 30px;
    text-align: center;
    margin: auto;
}

.leftNavbar select{
    border: none;
    background-color: #eac926;
}

@media screen and (min-width: 361px){
    header{
        width: 100%;
    }
    header nav a{
        display: flex;
    }
    .leftNavbar #categories{
        display: flex;
    }

    .burgerMenu{
        display: none;
    }

    .logo{
        max-width: 20%;
        justify-content: left;
    }
    .searchBar{
        width: 40%;
    }

    .searchBar button{
        left: -6.5px;
    }
    .headerTopBar{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .copyHeader{
        font-size: 10px;
        max-width: 20%;
        justify-content: right;
    }

    .headerNavbar{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
    }

    .leftNavbar{
        display: flex;
    }

    .rightNavbar{
         display: flex;
    }

    .headerNavbar a{
        margin: 0 12px;
    }
}

.loggedButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#profileButton, #logoutButton{
    border: 0;
    background-color: #1259c3;
    width: 5rem;
    padding: 0.25rem;
    margin: 0rem 0.5rem 1rem;
    color: white;
   transition: background-color 200ms;
}
#profileButton:hover, #logoutButton:hover{
    background-color: #0022AA;
}

#logoutForm{
    display: inline
}
#profileButton a{
    text-decoration: none;
    color:white;
}

@media screen and (min-width: 361px) {
    .leftNavbar{
        align-items: baseline;
    }
}

@media screen and (min-width: 769px){

    .copyHeader{
        font-size: 13px;
        text-align: center;
    }

    .searchBar{
        width: 30%;
        justify-content: center;
    }

    .bar{
        width: 90%;
    }
    
}